#case-content-wrap{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 90vh;
    width:100vw;

    text-align: center;

    font-weight: 100;
    font-style: italic;

    color: rgb(144, 156, 174);
}

#case-content-wrap img{
    width: 450px;
    height: 450px;
}