
<p *ngFor="let x of employee_score">Take a Look at my FICO: <b>{{x.ficoScore}}</b></p>
<div>
    <div>
        <img src="./assets/images/graph-holder.svg" alt="placeholder">
    </div>
    <div>
        <img src="./assets/images/graph-holder.svg" alt="placeholder">
    </div>
</div>

<ul *ngFor="let employee of employee_score">
    <li>Quote: {{employee.quote}}</li>
    <br>
    <li>UW Point: {{employee.uwPointNumer}}/{{employee.uwPointDenom}}</li>
    <br>
    <li>FICO: {{employee.ficoScore}}</li>
</ul>


