<div id="total-page-wrap">
<header>
  <div id="nav-bar">
      <a id="nav-logo" [routerLink] = "['/dashboard']">
          <div id="logo-wrap-redirect">
              <div id="logo-holder">
                  <img id ="real-logo" src="./assets/images/statue-of-liberty.svg">
              </div>
              <div id="title-holder" [ngClass] = "{'titleActive' : title_active}">
                  <p>Fiji Insurance</p>
              </div>
          </div>
      </a>
      <ul id="real-nav-bar">
          <li [routerLink] = "['/dashboard']">
            <div class="nav-link">
                <div class="nav-link-img">
                    <img class="nav-img-src" src="./assets/images/dashboard.svg">
                </div>
                <p>Dashboard</p>
            </div>
          </li>
          <li [routerLink] = "['/cases']">
            <div class="nav-link">
                <div class="nav-link-img">
                    <img class="nav-img-src" src="./assets/images/case-study.svg">
                </div>
                <p>Case Pool</p>
            </div>
          </li>
          <li [routerLink] = "['/tools']">
            <div class="nav-link">
                <div class="nav-link-img">
                    <img class="nav-img-src" src="./assets/images/tools.svg">
                </div>
                <p>Toolz</p>
            </div>
          </li>
      </ul>
  </div>
</header>

<router-outlet></router-outlet>

</div>

