<header>
  <div id="nav-bar">
      <a id="nav-logo">
          <div id="logo-wrap-redirect">
              <div id="logo-holder">
                  <img id ="real-logo" src="./assets/images/statue-of-liberty.svg">
              </div>
              <p>Fiji Insurance</p>
          </div>
      </a>
      <ul id="real-nav-bar">
          <li>
              <a href="#" >
                  <div class="nav-link">
                      <div class="nav-link-img">
                          <img class="nav-img-src" src="./assets/images/dashboard.svg">
                      </div>
                      <p>Dashboard</p>
                  </div>
              </a>
          </li>
          <li>
              <a href="#" >
                  <div class="nav-link">
                      <div class="nav-link-img">
                          <img class="nav-img-src" src="./assets/images/case-study.svg">
                      </div>
                      <p>Case Pool</p>
                  </div>
              </a>
          </li>
          <li>
              <a href="#" >
                  <div class="nav-link">
                      <div class="nav-link-img">
                          <img class="nav-img-src" src="./assets/images/tools.svg">
                      </div>
                      <p>Toolz</p>
                  </div>
              </a>
          </li>
      </ul>
  </div>
</header>

<div id="Dashboard-wrap">
  <div id="POC-Dash">
      <div id="risk-data-wrap" class="detail-box">
          <h2>Risk Data</h2>
          <div class="risk-data-sect-details">
              <riskAnalysis></riskAnalysis>
          </div> 
      </div>

      <div id="score-data-wrap" class="detail-box">
          <h2>Score</h2>
          <div class="risk-data-sect-details">
            <score></score>      
          </div>
      </div>

      <div id = "personal-data-wrap" class="detail-box">
          <h2>Personal Data</h2>
          <div class="risk-data-sect-details">
            <personalInfo></personalInfo>
          </div>
      </div>

      <div id="employment-data-wrap" class="detail-box">
          <h2>Employment</h2>
          <div class="risk-data-sect-details">
            <employment></employment>
          </div>
      </div>
  </div>
</div>

