// @font-face{
//     font-family: "Roboto";
//     src: url(https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap); 
// }
:root {
    --blue: #4e73df;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #e74a3b;
    --orange: #fd7e14;
    --yellow: #f6c23e;
    --green: #1cc88a;
    --teal: #20c9a6;
    --cyan: #36b9cc;
    --white: #fff;
    --gray: #858796;
    --gray-dark: #5a5c69;
    --primary: #4e73df;
    --secondary: #858796;
    --success: #1cc88a;
    --info: #36b9cc;
    --warning: #f6c23e;
    --danger: #e74a3b;
    --light: #f8f9fc;
    --light-dark: #d5dbee;
    --dark: #5a5c69;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  #total-page-wrap{
      height:100%;
      width:100%;

      display: flex;
      flex-direction: column;

  }
  
  header{
      height:10%;
      width:100%;
  }

  #nav-bar{
      display: flex;
      flex-direction: row;

      height:10vh;
      width:100vw;
  
      justify-content: space-between;
  
       background-color:white;
       box-shadow: 0 1px 9px -2px rgba(161, 161, 161, .45);
  }

  #nav-logo-redirect{
      width: 15px;
  }
  
  #real-nav-bar{
      display: flex;
      flex-direction: row;
  
      list-style-type: none;
  
      /* padding:8.5px; */
      margin:0;
  }
  
  #real-nav-bar a{
      text-decoration: none;
  }
  
  #real-nav-bar li{
      display:flex;
      justify-content: center;
      align-items: center;
  
      width:5rem;
      height:100%;
  
      padding: 0px 15px;
      border-right:.5px solid rgba(141, 141, 141, 0.5);
      border-left:.25px solid rgba(141, 141, 141, 0.5);
      
      transition:background-color .15s linear;
  }
  
  #real-nav-bar li:hover{
      background-color:rgb(235, 232, 232);
      cursor: pointer;
  }
  
//   #logo-holder #real-logo{
//       width:75px;
//       height:75px;
//   }

 #logo-holder{
     width:20%;
     height: 100%;
 }

 #logo-holder #real-logo{
     height: 100%;
     width:100%;
 }

 #title-holder{
    width: 80%;
    height:100%;
 }
  
  #nav-logo{
      text-decoration: none;
      color:black;

      display: flex;
      justify-content: center;
      align-items: center;

      height:100%;
      border-right:.5px solid rgba(141, 141, 141, 0.5);
  }
  
  #logo-wrap-redirect{
      width: 200px;

      display:flex;
      justify-content: center;
      align-items: center;
  
      flex-direction: row;
  
      padding: 10px 20px;
  }

  .titleActive{
      background-color: black;
  }
  

  #logo-wrap-redirect p{

      text-align: center;
      font-size: 1.5rem;
      margin:0;
      text-transform: uppercase !important;
      font-weight: 600;
  }
  
  .nav-link{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      text-decoration: none;

  }
  
  .nav-link p{
      text-align: center;
      font-size: .75rem;
      text-transform: uppercase !important;
      font-weight: 600;
      color:#858796;
      margin:0;
  }
  
  .nav-img-src{
    //   filter: grayscale(100%);
      width:35px;
      height:35px;
  }

  
//   @keyframes curtain {
//     0% {
//       grid-gap: 100vw; 
//     }
    
//     100% {
//       grid-gap: 20px;
//     }
//   }

  
