<div id="Dashboard-wrap">
    <div id="POC-Dash">
        <div class="detail-box">
            <div id="risk-data-wrap" class="inner-detail-box">
                <div class="title-wrap">
                    <h2 class="section-title">Risk Data</h2>
                    <!-- <p>Click on card for details</p> -->
                </div>
    
                <div class="risk-data-sect-details">
                    <riskAnalysis></riskAnalysis>
                </div> 
    
            </div>
        </div>
    
        <div class="detail-box">
            <div id="score-data-wrap" class="inner-detail-box">
                <div class="title-wrap">
                    <h2 class="section-title">Score</h2>
                </div>
    
                <div class="risk-data-sect-details">
                <score></score>      
                </div>
            </div>
        </div>
        <div class="detail-box">
            <div id = "personal-data-wrap" class="inner-detail-box">
                <div class="title-wrap">
                    <h2 class="section-title">Personal Data</h2>
                </div>
                
                <div class="risk-data-sect-details">
                    <personalInfo></personalInfo>
                </div>
            </div>
        </div>
    
        <div class="detail-box">
            <div id="employment-data-wrap" class="inner-detail-box">
                <div class="title-wrap">
                    <h2 class="section-title">Employment</h2>
                </div>
    
                <div class="risk-data-sect-details">
                    <employment></employment>
                </div>
            </div>
        </div>
    </div>
</div>
